.stats_section{ padding-block: 12rem;}
.stats_wrapper ul{ display: grid; grid-template-columns: 40% 30% auto; list-style: none; padding: 0; justify-content: space-between; align-items: center;}
.stats_wrapper{ background-color: var(--color-white); padding-block:3rem; padding-inline: 7rem; position: relative; margin-bottom: 12.9rem;}
.stats_wrapper::before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background: linear-gradient(to right, var(--color-fa) 0%, var(--color-fa) 37.5%, var(--color-06) 37.5%, var(--color-06) 100%); }

.stats_wrapper ul li:first-child{ font: var(--font-30); font-weight: 200; line-height: 1.3; color: var(--color-black); padding-inline: 0rem;}
.stats_wrapper ul li{ font: var(--font-14); font-weight: 300; padding-inline: 4rem; border-right: 1px solid var(--color-d5); padding-block: 0.3rem;}
.stats_wrapper ul li p{ font: var(--font-14); max-width: 10rem; line-height: 1.2; font-weight: 300; color: var(--color-black);}
.stats_wrapper ul li:last-child{ border-right: 0;}
.stats_wrapper ul li figcaption{ display: flex; gap: 2rem; align-items: center;}
.stats_wrapper ul li sup{ font: var(--font-16); font-weight: 200; top: -1.2rem;}
.stats_wrapper ul li figcaption span{color: var(--color-cf); font-weight: 600;}
.stats_wrapper ul li figcaption span.stats_no{ font: var(--font-72); letter-spacing: -4.54px; color: var(--color-cf); line-height: 0.8;}
.stats_wrapper ul li img{ max-width: 21.4rem;}
.counter_stats ul{ text-align: center; display: grid; grid-template-columns: repeat(4, 1fr); list-style: none; padding: 0;}
.counter_stats ul li{ font-weight: 300;}
.counter_stats ul li figcaption{ font: var(--font-56); color: var(--color-cf); font-weight: 400;}
.counter_stats ul li figcaption sup{ font: var(--font-30); font-weight: 600; top: -3.2rem;}

