.school_title { text-align: center; }
.school_title .font18 { color: var(--color-06); margin-bottom: 1.5rem; }
.school_title .font42 { color: var(--color-cf); }
.school_title blockquote { color: var(--color-black); margin-bottom: 6rem; font-size: var(--font-18); font-weight: 200; padding-block: 3rem; padding-inline: 2rem; }

/* ====================Department page hero section End css================ */
.deparment_banner { position: relative; }
.deparment_banner::after { background: transparent linear-gradient(270deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box; opacity: 0.69; position: absolute; bottom: 0; left: 0; right: 0; content: ""; z-index: 1; height: 100%; }
.deparment_banner_content { position: absolute; top: auto; bottom: 15.7rem; display: flex; flex-direction: column; justify-content: space-between; }
.deparment_banner .container-fluid { max-width: var(--mw2545); padding-inline: 10rem; }
.deparment_banner_tx { max-width: 55rem; padding-inline: 5rem 0; position: relative; z-index: 9; }
.deparment_banner_tx h1 { font: var(--font-72); color: var(--color-white); letter-spacing: -2.16px; font-weight: 600; line-height: 1; }
.deparment_banner_tx h1 span { font-weight: 200; }
.deparment_slider_logo { display: flex; gap: 3rem; align-items: center; padding-block: 2rem 5rem; }
.deparment_slider_logo figure { max-width: 6.6rem; }
.deparment_slider_logo p { font: var(--font-10); color: var(--color-white); font-weight: 300; max-width: 31rem; padding-block: 1rem; border-left: 1px solid #ccc; padding-left: 3rem; }

.deparment_banner>.dep_hero_pagination { display: flex; gap: 1.7rem; position: absolute; z-index: 10; width: auto!important; top: auto; bottom: 8.4rem!important; left: 14.7rem!important; right: auto; align-items: center; }

.bullet-num { position: absolute; display: block; align-content: center; width: 2.4rem; height: 2.4rem; z-index: 2; font: var(--font-12); font-weight: 300; color: var(--color-white); background-color: var(--color-0b); line-height: 1; border-radius: 50%; padding-top: 0.4rem; }
.swiper-pagination-bullet-active .bullet-num { background-color: transparent; }
.progress-ring { transform: rotate(-90deg); opacity: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.swiper-pagination-bullet-active .progress-ring { opacity: 1; }
.swiper-pagination-bullet:hover .progress-ring { opacity: 0.5; }
/* animation */
.dep_hero_pagination { display: flex; gap: 16px; z-index: 10; }
.swiper-pagination-bullet { width: auto !important; height: auto !important; background: transparent !important; opacity: 1 !important; display: flex; justify-content: center; }
.bullet-content { display: none; }
.swiper-pagination-bullet-active .bullet-content { display: block; }
.swiper-pagination-bullet-active .bullet-dot { display: none; }
.bullet-dot { width: 8px; height: 8px; border-radius: 50%; background: #fff; display: block; }
.progress-ring { transform: rotate(-90deg); }
.progressbg { fill: none; stroke: #777; stroke-width: 1; }
.progress { fill: none; stroke: var(--color-fa); stroke-width: 1; stroke-linecap: round; stroke-dasharray: 69.12; stroke-dashoffset: 69.12; }
.bullet-content { position: relative; width: 2.4rem; height: 2.4rem; }
.progress-ring { position: absolute; inset: 0; width: 2.4rem; height: 2.4rem; transform: rotate(-90deg); }
.bullet-num { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 1rem; line-height: 1; font-weight: 600; color: #fff; z-index: 2; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
.bullet-content { position: relative; width: 2.4rem; height: 2.4rem; }
.progress-ring { position: absolute; inset: 0; width: 2.4rem; height: 2.4rem; transform: rotate(-90deg); }
.bullet-num { position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); font-size: 1rem; line-height: 1; font-weight: 600; color: #fff; z-index: 2; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
@keyframes progressAnim {
 from { stroke-dashoffset: 69.12; }
to { stroke-dashoffset: 0; }
 }
/* ====================Department page hero section End css================ */
 /*==================== Enquiry form  CSS Start ====================*/
.enquiry_form_box { position: absolute; top: 0; right: 0; width: 51rem; z-index: 99; height: 100%; }
.top_strip { display: flex; height: 5rem; }
.call_btn { width: 50%; background: #ec1c72; color: #fff; display: flex; justify-content: center; align-items: center; text-decoration: none; font: var(--font-16); }
.admission_btn { width: 50%; background: var(--color-f7); border: 0; font: var(--font-16); cursor: pointer; }
.form_wrap { background: #00000066; padding-inline: 7rem 6.4rem; padding-block: 12.55rem; height: 100%; }
.form_wrap h2 { color: #fff; font: var(--font-40); margin-bottom: .5rem; }
.form_wrap>p { color: var(--color-white); margin-bottom: 3rem; }
.form_wrap input,
.form_wrap select { width: 100%; height: 4.2rem; background: transparent; border: 1px solid #DEDEDE33; color: var(--color-white); padding: 1rem 1.5rem 1.1rem; margin-bottom: 2rem; padding-block: 1rem 1.1rem; outline: none; }
.form_wrap input::placeholder { font: var(--font-16); line-height: 2.1rem; color: var(--color-white); opacity: 0.6; }
.form_wrap select:invalid { font: var(--font-16); line-height: 2.1rem; color: var(--color-white); opacity: 0.6; }
.form_wrap select option { color: #000000; background-color: #ffffff; }
.checkbox input { height: 17px; margin-bottom: 0; width: 1.7rem; }
.checkbox { display: flex; gap: 0.8rem; color: #fff; font-size: 1.2rem; margin-bottom: 2.5rem; }
.captcha_box { display: flex; gap: 1rem; margin-bottom: 2rem; }
.captcha_box img { width: 16rem; }
.submit_btn { width: 12.2rem; height: 4.3rem; background: #F9CE2E; border: 1px solid #F9CE2E; border: 0; font-weight: 600; cursor: pointer; font: var(--font-18); line-height: 3rem; }
/*==================== Enquiry form  CSS Start ====================*/

/* ====================About Section CSS Start==================== */
.dep_about_banner { display: grid; }
.dep_about_banner>* { grid-area: 1/1; }
.dep_abt_ypath { background:#0000007d 0% 0% no-repeat padding-box; opacity: 1; backdrop-filter: blur(16px); -webkit-backdrop-filter: blur(16px); max-width: 41rem; height: 100%; padding: 5.7rem 6.2rem 0 6.3rem; }
.dep_abt_ypath>* { color: var(--color-white); }
.dep_abt_ypath>ul>li { color: var(--color-white); }
.dep_abt_ypath h3 { font-weight: 200; margin-bottom: 3.6rem; }
.dep_abt_ypath p { font: var(--font-14); font-weight: 200; }
.dep_abt_ypath ul { padding-block: 5.1rem 4.8rem; padding-left: 0; list-style: none; }
.dep_abt_ypath ul>li>a { font: var(--font-14); padding-bottom: 1.6rem; font-weight: 200; border-bottom: 0.1rem dashed var(--color-f9); display: inline-flex; align-items: center; gap: 1.6rem; }
.dep_abt_ypath ul>li>a img { filter: brightness(0) invert(1); width: 0.7rem; }
.dep_abt_ypath ul>li:not(:last-child) { margin-bottom: 2.4rem; }
.dep_abt_mission { padding-block: 6rem 12rem; }
.dep_abu_migrid { display: grid; grid-template-columns: 71.95% auto; position: relative; padding-bottom: 7.4rem; }
.dep_abu_migrid .dep_abmis_desc { padding-right: 10rem; margin-right: 8.6rem; border-right: 0.1rem solid #D1D1D1; }
.dep_abmis_desc p { font: var(--font-16); font-weight: 300; }
.dep_amis_rgt h4 { margin-bottom: 2.7rem; color: var(--color-cf); }
.dep_amis_rgt h5 { font-weight: 300; line-height: 3rem; }
.dep_abu_migrid::before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.4rem; background: linear-gradient(to left, var(--color-cf) 0%, var(--color-cf) 31.2%, var(--color-f9) 31.2%, var(--color-f9) 100%); }
.virtual_tour_about { position: relative; overflow: hidden; padding: 0.9rem 2.8rem; background-color: var(--color-cf); font: var(--font-18); font-weight: 400; z-index: 1; transition: color .4s ease; line-height: 1.2; border: 1px solid var(--color-cf); display: inline-flex; gap: 1rem; margin-bottom: 0.8rem; }
.virtual_tour_about::before { content: ""; position: absolute; inset: 0; background: var(--color-06); transform: translateX(-101%); transition: transform .4s ease; z-index: -1; }
.virtual_tour_about:hover { color: var(--color-white); border-color: var(--color-06); }
.virtual_tour_about:hover::before { transform: translateX(0); }
.dep_abt_ypath .apply_now { color: var(--color-black); }
.dep_abt_ypath .apply_now:hover { color: var(--color-white); }
/* ====================About Section CSS End ====================*/


/*==================== Program Section CSS Start==================== */
.depart_prosec { margin-bottom: 20rem; }
.deprt_progbox { background-color: var(--color-white); padding-block: 8.5rem; }
.dep_program_list { display: grid; grid-template-columns: 36rem 36rem 36rem 25rem; padding: 0; list-style: none; row-gap: 4.5rem; padding-block: 7.6rem 0; column-gap: 5.6rem; }
.dep_program_list li { font: var(--font-24); font-weight: 300; border-right: 1px solid rgba(112, 112, 112, 0.25); display: block; padding-bottom: 1.5rem; position: relative; display: flex; flex-direction: column; justify-content: space-between; }
.dep_program_list li:nth-child(4n+4) { border: none; }
.dep_program_list li:hover { color: var(--color-cf); }
.dep_program_list li span { display: block; margin-bottom: 0.4rem; }
.dep_program_list li .pro_name { margin-bottom: 1.5rem; max-width: 23.1rem; font: var(--font-21); font-weight: 300; color: var(--color-cf); }
.dep_program_list li figure { max-width: 0.6rem; }
.depat_program_bottom { background-color: var(--color-06); display: grid; grid-template-columns: 35% auto; padding-inline: 12.5rem; padding-block: 1rem; justify-content: space-between; }
.depart_pbleft { display: flex; align-items: center; }
.depart_pbleft p { color: var(--color-white); font-weight: 200; }
.depart_pbrgt ul { display: flex; list-style: none; padding: 0; }
.depart_pbrgt ul li a { display: flex; gap: 1rem; align-items: center; border-left: 1px solid #ccc; padding-inline: 2rem; color: var(--color-fa); font: var(--font-18); font-weight: 500; line-height: 1; }
.depart_pbrgt ul li a:hover { color: var(--color-white); }
.depart_pbrgt ul li a:hover img { filter: brightness(0) invert(1); }
.depart_pbrgt ul li img { max-width: 2rem; }
.depart_pbrgt { display: flex; align-items: center; }
.depat_brochbtn { display: flex; }
.download_brochure img { max-width: 1.5rem; }
.depat_brochbtn .apply_now { position: relative; overflow: hidden; padding: 1rem 3rem; color: var(--color-black); background-color: var(--color-fa); font: var(--font-18); font-weight: 400; z-index: 1; transition: color .4s ease; line-height: 1.2; border: 1px solid var(--color-fa); }
.depat_brochbtn .apply_now::before { content: ""; position: absolute; inset: 0; background: var(--color-white); transform: translateX(-101%); transition: transform .4s ease; z-index: -1; }
.depat_brochbtn .apply_now:hover { color: var(--color-black); border-color: var(--color-white); }
.depat_brochbtn .apply_now:hover::before { transform: translateX(0); }
.download_brochure { position: relative; overflow: hidden; display: flex; gap: 1rem; color: var(--color-white); border: 1px solid rgba(255, 255, 255, 0.3); padding: 0.6rem 2.5rem; align-items: center; margin-right: 1rem; z-index: 1; line-height: 1; }
.download_brochure::before { content: ""; position: absolute; inset: 0; background: var(--color-white); transform: translateX(-101%); transition: transform .4s ease; z-index: -1; }
.download_brochure:hover { color: var(--color-black); }
.download_brochure:hover::before { transform: translateX(0); }
/* ====================Program Section CSS End==================== */

/* ====================HOD Section CSS start ====================*/
.dep_hodsec { padding-bottom: 13.3rem; }
.dep_hod_main { padding-block: 7.3rem 16.6rem; position: relative; }
.dep_hod_main:after { content: ''; background-image: url('/images/icons/dep_hod_shap.svg'); height: 85rem; width: 88.5rem; position: absolute; left: -28.5rem; top: -5rem; background-color: var(--color-cf); z-index: 0; }
.dep_hod_main::before { content: ''; background-color: var(--color-white); width: auto; height: 100%; top: 0; position: absolute; left:41rem; right: 0; }
.dep_hod_grid { display: grid; grid-template-columns: 33.9% auto; gap: 12.5rem; z-index: 1; position: relative; align-items: center; }
.dep_mailbx { list-style: none; padding: 0; margin-top: 4.5rem; }
.dep_mailbx>li>a { display: flex; align-items: center; gap: 1.4rem; }
.dep_mailbx>li>a>span img { width: 1.7rem; height: 1.7rem; }
.dep_mailbx>li>a>span { width: 5.4rem; height: 4.5rem; display: flex; align-items: center; justify-content: center; background-color: var(--color-f9); }
.dep_mailbx>li>a:hover { color: var(--color-cf); }
.dep_mailbx li:not(:last-child) { margin-bottom: 1rem; }
.dep_mailbx>li:nth-child(2)>a>span { background-color: var(--color-cf); }
.dep_hod_content figure { height: 3.9rem; width: 4.8rem; }
.dep_hod_content>h3 { padding-block: 2.1rem; color: var(--color-cf); }
.dep_hod_content>h4 { margin-bottom: 3.2rem; font-weight: 300;     padding-right: 5rem;}
.dep_hod_content>p { font: var(--font-16); font-weight: 300; padding-bottom: 2.8rem; margin-bottom: 2.8rem; border-bottom: 0.1rem solid #70707033; line-height: 2.6rem; }
.dep_hod_content span { font: var(--font-16); font-weight: 300; }
.dep_hod_info>h3 { color: var(--color-cf);}

@media(min-width:1920px) {
 .dep_hod_main::before{ left: 28rem;}
}
@media(max-width:1919px) {
 .dep_hod_main::before{ left: 15rem;}
}

/*==================== HOD Section CSS End ====================*/


/* =============FACULTY section============ */
.dep_faculty_section { padding-block: 18rem 0; }
.dept_facuty_rgt { width: 35%; display: grid; align-items: center; grid-template-columns: auto 3rem; justify-content: space-between; gap: 4rem; padding-top: 5rem; }
.dept_facuty_rgt p { font: var(--font-18); font-weight: 300; }
.dept_facuty_rgt a { width: 3rem; height: 3rem; border: 1px solid var(--color-cf); text-align: center; display: block; padding: 0.7rem 1rem; }
.dept_facuty_rgt a:hover { background-color: var(--color-cf); }
.dept_facuty_rgt a:hover img { filter: brightness(0) invert(1); }
.depfac_slider_sec { padding-block: 8rem 4.2rem; padding-left: 1.5rem;}
.depat_faculty_bx { position: relative; height: 100%; }
.depat_faculty_bx::before { content: ""; position: absolute; bottom: 0; left:3.5rem; max-width: 24.5rem; z-index: 9; width: 100%; height: 0.4rem; background: linear-gradient(to right, var(--color-fa) 0%, var(--color-fa) 6.5rem, var(--color-06) 6.5rem, var(--color-06) 100%); }
.depat_faculty_bx .dep_fac_img { position: relative; }
.depat_faculty_bx .dep_fac_img img { max-height: 68rem; }
/* .depart_faculty .swiper-slide:nth-child(even) .depat_faculty_bx::before { display: none; }
.depart_faculty .swiper-slide:nth-child(even) .depat_faculty_bx::after { background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box; opacity: 0.69; position: absolute; bottom: 0; left: 0; right: 0; height: 18rem; content: ""; z-index: 0; }
.depart_faculty .swiper-slide:nth-child(even) .depat_faculty_bx .dep_facubx_btm { position: absolute; bottom: 0; background-color: transparent; width: 100%; padding:5.4rem  5.8rem ; }
.depart_faculty .swiper-slide:nth-child(even) .depat_faculty_bx .dep_facubx_btm h5, .depart_faculty .swiper-slide:nth-child(even) .depat_faculty_bx .dep_facubx_btm p { color: var(--color-white); } */


/* EVEN FACULTY CARD */
.depart_faculty .swiper-slide.faculty-even .depat_faculty_bx::before {
    display: none;
}

.depart_faculty .swiper-slide.faculty-even .depat_faculty_bx::after {
    background: transparent linear-gradient(
        180deg,
        #00000000 0%,
        #000000 100%
    ) 0% 0% no-repeat padding-box;

    opacity: 0.69;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 18rem;
    content: "";
    z-index: 0;
}

.depart_faculty .swiper-slide.faculty-even .depat_faculty_bx .dep_facubx_btm {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    padding: 5.4rem 5.8rem;
}

.depart_faculty .swiper-slide.faculty-even .dep_facubx_btm h5,
.depart_faculty .swiper-slide.faculty-even .dep_facubx_btm p {
    color: var(--color-white);
}



.depat_faculty_bx h5 { margin-bottom: 1rem; }
.depat_faculty_bx p { max-width: 39.2rem; font: var(--font-14); font-weight: 300; line-height: 1.7; }
.dep_facubx_btm { background-color: var(--color-f5); z-index: 2; padding-block: 3rem 5.2rem; padding-inline: 3.7rem; }
.depat_faculty_bx a { z-index: 9; }
.depa_fac_head { display: flex; justify-content: space-between; flex-wrap: wrap;align-items: center; }
.dep_fhead_rgt { width: 35%; display: grid; align-items: center; grid-template-columns: auto 3rem; justify-content: space-between; gap: 4rem;}
.dep_fhead_rgt p { font: var(--font-18); font-weight: 300; }
.dep_fhead_rgt a { width: 3rem; height: 3rem; border: 1px solid var(--color-cf); text-align: center; display: block; padding: 0.7rem 1rem; }
.dep_fhead_rgt a:hover { background-color: var(--color-cf); }
.dep_fhead_rgt a:hover img { filter: brightness(0) invert(1); }

/* =============END OF FACULTY section============ */

/* =========Department Facilities  */

.dept_facilites_sec { padding-block: 20rem; }
.dept_facilites_sec .depa_fac_head { padding-bottom: 9.4rem; }
.dept_facilites_bx { position: relative; }
.dept_facilites_bx::after { background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box; opacity: 0.8; bottom: 0; left: 0; right: 0; height: 29.9rem; content: ""; position: absolute; }
.dept_facilites_bx p { padding-block: 4.6rem; margin-inline: 4.6rem; font: var(--font-24); font-weight: 300; line-height: 1.7; color: var(--color-white); }
.dept_facilites_bx .dept_fac_bx_bottom { position: absolute; bottom: 0; left: 0; right: 0; ; z-index: 2; }
.dept_facilites_bx a { z-index: 9; }
.depa_fac_head .head_title p { font-weight: 200; margin-block: 3.7rem 2rem; }

/* =============END OF department facilities */